<div class="header">
<h1> Welcome To The Film List Webpage</h1>
</div>

<% @lists.each do |list| %>
<div>
<h3> <%= link_to list.name, list_path(list) %> </h3>
</div>
<% end %>

<%= link_to 'Add a New List', new_list_path %>
